<!DOCTYPE html>
<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/form.css" />
    <title><%= pageTitle%></title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs',{authenticated: authenticated}) %>
    <div id="bg"></div>
    <main>
      <div id="content">
        <div id="content-head">
          <label>Reset Password</label>
        </div>
        <form id="content-body" method="POST" action="/authentication/newPassword">
          <!-- <label>Username</label> -->
          <div>
          <!-- <label>Password</label> -->
          <div>
            <input
              class="input-group"
              name="Password"
              type="password"
              placeholder="Password"
            />
          </div>
          <div>
            <input
              class="input-group"
              name="Confirm Password"
              type="password"
              placeholder="Confirm Password"
            />
          </div>
          <div>
            <!-- <input type="submit" name="submit"> -->
            <input type="hidden" name="PasswordToken" value="<%= passwordToken %>" >
            <input type="hidden" name="UserId" value="<%= userId %>" >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <button type="submit">Update Password</button>
          </div>

          <% if(errorMessage) { %> 
            <div class="error">
              <%= errorMessage %> 
            </div>
          <% } %> 
        </form>
      </div>
    </main>
  </body>
</html>
